<!DOCTYPE html>
<html lang="ch-ZN">
    <head>
        <meta charset="utf-8">
        <title>网页布局</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header-content">
                <span class="logo">LOGO</span>
                <div class="link">
                    <a href="#">Github</a>
                    <a href="#">Register</a>
                    <a href="#">Login</a>
                </div>
            </div>
        </header>
        <!-- <div class="banner">
            <div class="banner-container">
                    <div class="banner-ico"><span>1</span></div>
                    <div class="banner-ico"><span>2</span></div>
                    <div class="banner-ico"><span>3</span></div>
                    <div class="banner-ico"><span>4</span></div>
            </div>
            
        </div> -->
        <div class = "Banner">
                <img>
                <ul>
                    <li><span>1</span></li>
                    <li id = "now"><span>2</span></li>
                    <li><span>3</span></li>
                    <li><span>4</span></li>
                </ul>
            </div>
        <div class="nav">
            <div class="nav-content">
                    <div class="nav-table">HOME</div>
                    <div class="nav-table">FORFILE</div>
                    <div class="nav-table">ABOUT</div>
            </div>
        </div>
        <div class="main">
            <div class="container">
                    <div class="main-top">
                            <div class="main-content">thhis content 1</div>
                            <div class="main-content">Maybe content 2</div>
                            <div class="main-content">content 3</div>
                    </div>
                    <div class="main-middle">
                            <div class="main-content">content 4</div>
                            <div class="main-content">content 5</div>
                            <div class="main-content">content 6</div>
                            <div class="main-content">content 7</div>
                    </div>
                    <div class="main-bottom">
                            <div class="main-content">content 8</div>
                            <div class="main-content">content 9</div>
                            <div class="main-content">content 10</div>
                    </div>
                </div>
            </div>
            
        <footer>
            2018 ife.baidu.com
        </footer>
    </body>
</html>