* {
    padding: 0;
}

dd {
    margin-bottom: 1em;
    text-indent: -2.5em;
}

h1 {
    /* border: 1px solid #666; */
    margin: 0 ;
    background-color:#666;
    color: #fff;
}
.row {
    height: 110px;
    border: 1px solid #ccc;
    padding: 0;
}
h2 {
    display: inline-block;
    width: 20%;
    height: 110px;
    line-height: 110px;
    margin: 0px;
    background-color: #ccc;
    text-align: center;
}

.inf {
    display: inline-block;
    width: 79%;
	height: 110px;
	/* float: right; */
	border-bottom: 1px solid #aaa;
}
